html {
  height: 100%; }

body {
  background: #040404;
  color: #9f9f9f;
  line-height: 20px;
  font-size: 16px; }

button {
  cursor: pointer; }

.boons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 612px;
  width: 350px;
  background: #373737;
  padding: 25px 0; }

.app-container {
  display: flex;
  margin: 20px 20px 0; }

.boon-container {
  width: 70px;
  flex-basis: 70px;
  border: 1px solid #725e2c;
  cursor: pointer;
  transform: rotate(-45deg);
  margin: 15px;
  overflow: hidden;
  margin-left: 40px; }
  .boon-container:nth-child(6) {
    margin-top: 66px; }
  .boon-container:nth-child(17) {
    margin-top: 66px; }
  .boon-container:nth-child(n+6) {
    margin-left: -48px; }
  .boon-container img {
    transform: rotate(45deg);
    margin-left: -15px;
    margin-top: -15px;
    height: 100px;
    width: 100px; }
    .boon-container img.empty-image-placeholder {
      opacity: 0.2; }
  .boon-container.opened {
    box-shadow: 0px 0px 1px 1px yellow; }

.boon-selector {
  margin: 0 20px; }
  .boon-selector .boon-selector-item {
    cursor: pointer;
    padding: 5px;
    border: 1px solid #725e2c;
    margin: 10px 0; }
    .boon-selector .boon-selector-item.unavailable {
      cursor: auto; }
      .boon-selector .boon-selector-item.unavailable img,
      .boon-selector .boon-selector-item.unavailable .boon-selector-title {
        opacity: 0.6; }
    .boon-selector .boon-selector-item .boon-selector-prerequisites .prerequisite-boon-item {
      opacity: 0.6; }
      .boon-selector .boon-selector-item .boon-selector-prerequisites .prerequisite-boon-item.selected {
        opacity: 1; }
    .boon-selector .boon-selector-item.selected {
      box-shadow: 0px 0px 1px 1px yellow; }
    .boon-selector .boon-selector-item .boon-selector-item-inner {
      display: flex; }
    .boon-selector .boon-selector-item img {
      height: 75px;
      width: 75px; }
    .boon-selector .boon-selector-item .boon-selector-text {
      margin: 0 5px; }
    .boon-selector .boon-selector-item:first-child {
      margin-top: 0; }
