.boons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 612px;
  width: 350px;
  background: #373737;
  padding: 25px 0;
}

.app-container {
  display: flex;
  margin: 20px 20px 0;
}
