.boons-container {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  flex-wrap: wrap;
  height: 672px;
  width: 350px;
  background: #373737;
  padding: 25px 0;
  border-radius: 6px;
}

.app-container {
  display: flex;
  padding: 20px;
  height: 100%;
  min-height: 762px;
  box-sizing: border-box;
}
