.boon-selector-container {
  height: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: 746px) {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    padding: 8px;
    box-sizing: border-box;
  }

  .boon-selector-scroller {
    max-height: 100%;
    overflow-y: auto;
    margin-top: 20px;
  }
}
