.boon-selector-container {
  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;

  .boon-selector-scroller {
    max-height: 100%;
    overflow-y: auto;
    margin-top: 20px;
  }
}
